@{
  ViewData["Title"] = "403, Forbidden";
}

<div class="bg-dark text-white text-center">
  <div class="container py-5">
    <h1 class="my-5">403 Forbidden</h1>
    <p class="mt-5 pt-3">
      <a asp-controller="Home" asp-action="Index" class="site-link">Back To Home</a>
    </p>
  </div>
</div>
