@{
  ViewData["Title"] = "404, Not Found";
}

<div class="bg-dark text-white text-center">
  <div class="container py-5">
    <h1 class="mb-4">404 Not Found</h1>
    <h2>Oops!</h2>
    <h4>The page you are looking for was not found</h4>
    <p class="mt-5 pt-3">
      <a asp-controller="Home" asp-action="Index" class="site-link">Back To Home</a>
    </p>
  </div>
</div>
