@model IEnumerable<MvcBankingApplication.Models.Notifications.Notification>

@{
  ViewData["Title"] = "Index";
}

<div class="bg-dark">
  <div class="container d-flex justify-content-center flex-wrap pb-5">
    <h2 class="mt-5 text-white">Notifications</h2>
    <div class="mt-3 d-flex flex-wrap justify-content-center">
      <div class="alert alert-danger rounded-0 my-1">
        <div class="d-flex">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga placeat praesentium!</p>
          <i class="fas fa-times fa-2x ms-2 notification-closer"></i>
        </div>
      </div>
      <div class="alert alert-info rounded-0 my-1">
        <div class="d-flex">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga placeat praesentium!</p>
          <i class="fas fa-times fa-2x ms-2 notification-closer"></i>
        </div>
      </div>
      <div class="alert alert-success rounded-0 my-1">
        <div class="d-flex">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga placeat praesentium!</p>
          <i class="fas fa-times fa-2x ms-2 notification-closer"></i>
        </div>
      </div>
      <div class="alert alert-warning rounded-0 my-1">
        <div class="d-flex">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum fuga placeat praesentium!</p>
          <i class="fas fa-times fa-2x ms-2 notification-closer"></i>
        </div>
      </div>
    </div>
  </div>
</div>
