# utils
/routes
/update_db.sh

# sqlite files
*.db
ApplicationContext-*

# uploaded images
wwwroot/**/users/*.png
wwwroot/**/users/*.jpg
# don't delete default image
!wwwroot/**/users/avatar.png

# scaffolding files
ScaffoldingReadMe.txt
