@model MvcBankingApplication.Models.Users.Admin

@{
  ViewData["Title"] = "admin home";
}

<div class="bg-dark py-3">
  <div class="container text-white">
    <hr>
    <section class="my-5">
      @if (TempData["Message"] != null)
      {
        <p class="text-light alert alert-success mb-2">@TempData["Message"]</p>
      }
      <h2>Choose one action below</h2>
      <ul>
        <li>
          <a asp-action="PendingTransactions" asp-controller="Admin" class="site-link">Approve pending transactions</a>
        </li>
        <li>
          <a asp-controller="Admin" asp-action="CreateAdmin" class="site-link">Create new admin</a>
        </li>
        <li>
          <a asp-controller="Admin" asp-action="CreateCashier" class="site-link">Create new cashier</a>
        </li>
        <li>
          <a asp-action="Transactions" asp-controller="Staff" class="site-link">View transactions</a>
        </li>
        <li>
          <a asp-controller="Admin" asp-action="UpdateCashierLimit" class="site-link">Update cashier limit</a>
        </li>
      </ul>
    </section>
    <hr>
  </div>
</div>
