@{
  ViewData["Title"] = "About";
}

<div class="py-5 bg-dark text-white">
  <div class="container">
    <section>
      <h2>Our Mission</h2>
      <p class="text-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit deserunt repellendus
        cupiditate voluptate
        quis omnis iure. Accusantium quisquam, deleniti illum enim veniam labore eveniet, corrupti voluptate obcaecati
        nemo repudiandae perspiciatis?</p>
    </section>
    <section>
      <h2>Vision</h2>
      <p class="text-lighter">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic assumenda possimus a, nulla
        distinctio aut atque
        officia asperiores pariatur autem veritatis, eum magni enim exercitationem vitae libero accusantium
        dignissimos cum.</p>
    </section>
    <section class="mt-5">
      <h2 class="text-decoration-underline">Contact us on</h2>
      <div>
        <h4 class="text-light">Email</h4>
        <p class="text-lighter">abc@gmail.com</p>
      </div>
      <div>
        <h4 class="text-light">Phone</h4>
        <p class="text-lighter">345345</p>
      </div>
      <div>
        <h4 class="text-light">Landline</h4>
        <p class="text-lighter">564534543</p>
      </div>
    </section>
    <section class="mt-4">
      <h2 class="text-decoration-underline">Office location</h2>
      <p>
        60 Jennings Ave.
        Glendale, AZ 85302
      </p>
      <p>&lt;&lt;Insert map here&gt;&gt;</p>
    </section>
  </div>
</div>
