@{
  ViewData["Title"] = "Home Page";
}

<div class="bg-img">
  <div class="container text-white">
    <div class="p-3 bg-none text-white">
      <h1>
        YourBank.com
      </h1>
      <p>The easiest way to bank</p>
      <div class="w-100 border-top mb-4 mt-5"></div>
    </div>
    <div class="row text-white text-bold">
      <div class="col-10 rounded p-4 col-sm-5 col-md-4 col-lg-3 m-4 border">
        <i class="d-block fa fa-lock fa-6x text-white"></i>
        <div class="row row-cols-1 mt-2">
          <h2 class="col">Safe</h2>
          <p class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolores sequi sint autem nisi eos
            vitae voluptate fuga aperiam
          </p>
        </div>
      </div>
      <div class="col-10 rounded p-4 border col-sm-5 col-md-4 col-lg-3 m-4">
        <i class="d-block fa fa-line-chart fa-6x"></i>
        <div class="row row-cols-1">
          <h2 class="col">Efficient</h2>
          <p class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolores sequi sint autem nisi eos
            vitae voluptate fuga aperiam
          </p>
        </div>
      </div>
      <div class="col-10 rounded p-4 border col-sm-5 col-md-4 col-lg-3 m-4">
        <i class="d-block fa fa-handshake fa-6x"></i>
        <div class="row row-cols-1">
          <h2 class="col">Trusted</h2>
          <p class="col">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam dolores sequi sint autem nisi eos
            vitae voluptate fuga aperiam
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<section class="testimonials container mt-3">
  <h2>What our users say</h2>
  <div class="d-flex justify-content-center">
    <div class="row">
      <div class="col-9 col-md-5 col-lg-4 testimonial">
        <p class="testimonial-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos ipsum
          laudantium aliquid
          exercitationem dicta repudiandae, dolore</p>
        <h3>John Doe</h3>
        <div class="d-flex justify-content-center">
          <img src="/images/10.jpg" alt="">
        </div>
      </div>
      <div class="col-9 col-md-5 col-lg-4 testimonial">
        <p class="testimonial-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos ipsum
          laudantium aliquid
          exercitationem dicta repudiandae, dolore</p>
        <h3>John Doe</h3>
        <div class="d-flex justify-content-center">
          <img src="/images/10.jpg" alt="">
        </div>
      </div>
      <div class="col-9 col-md-5 col-lg-4 testimonial">
        <p class="testimonial-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos ipsum
          laudantium aliquid
          exercitationem dicta repudiandae, dolore</p>
        <h3>John Doe</h3>
        <div class="d-flex justify-content-center">
          <img src="/images/10.jpg" alt="">
        </div>
      </div>
      <div class="col-9 col-md-5 col-lg-4 testimonial">
        <p class="testimonial-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dignissimos ipsum
          laudantium aliquid
          exercitationem dicta repudiandae, dolore</p>
        <h3>John Doe</h3>
        <div class="d-flex justify-content-center">
          <img src="/images/10.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="bg-img text-white py-3">
  <div class="container">
    <section class="py-4">
      <h2>Join Us Today</h2>
      <p class="text-lighter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum animi, natus sapiente incidunt, voluptate
        quos
        ex
        autem tenetur excepturi doloribus, maiores dignissimos exercitationem nisi facere distinctio molestias
        aspernatur
        voluptatum mollitia.
      </p>
      <p class="text-lighter">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur facilis ad
        error
        unde
        quos ullam minima
        recusandae suscipit aliquid quae sunt provident, tempora magni reiciendis facere enim fuga? Excepturi,
        vitae!
      </p>
      <div>
        <a asp-controller="Customers" asp-action="SignUp" class="site-link">Join Us</a>
      </div>
    </section>
    <section class="py-4">
      <h2>Terms And Conditions</h2>
      <p class="text-lighter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero cupiditate labore laborum beatae pariatur
        commodi. Voluptate nemo autem nisi qui ex suscipit adipisci inventore, non ipsa iure repellendus
        corrupti
        tenetur.
      </p>
      <p class="text-lighter">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus quibusdam recusandae beatae?
        Laudantium, placeat? Vero suscipit quibusdam fuga cum? Mollitia et ducimus sapiente obcaecati
        repudiandae
        optio libero eligendi distinctio repellendus.
      </p>
      <p class="text-li">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore saepe dicta delectus ipsam commodi
        aperiam
        reiciendis alias beatae quam expedita blanditiis nisi, tenetur quaerat ipsum voluptates perspiciatis,
        eveniet
        quos. Voluptatibus?
      </p>
    </section>
  </div>
</div>
