@model MvcBankingApplication.Models.Users.Customer

@{
  ViewData["Title"] = "{username}'s profile";
}

<div class="bg-dark py-5 text-white">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2">
      <img src="/images/10.jpg" alt="{user}" class="col rounded me-sm-3 profile-img mb-2 mb-sm-0">
      <div class="col">
        <p class="mt-2 mt-sm-0">{Name}</p>
        <p class="mt-2 mt-sm-0">{Email}</p>
        <p>Created on: {date}</p>
        <p>Account status: <span class="text-green">active</span> | <span class="text-red">inactive</span></p>
      </div>
    </div>
    <div>
      <a href="#" class="site-link d-block mb-2 mt-sm-3">edit profile</a>
      <a href="#" class="site-link">change password</a>
    </div>
  </div>
</div>
