@model MvcBankingApplication.Models.Users.Cashier

@{
  ViewData["Title"] = "cashier home";
}

<div class="bg-dark py-3">
  <div class="container text-white">
    @if (TempData["Message"] != null)
    {
      <div>
        <p class="alert alert-info">@TempData["Message"]</p>
      </div>
    }
    <hr>
    <section class="my-5">
      <h2>Choose one action below</h2>
      <ul>
        <li>
          <a asp-for="Cashiers" asp-action="WithdrawDepositOverdraft" class="site-link">Overdraft, Cash Deposit and
            withdrawal</a>
        </li>
        <li>
          <a asp-controller="Cashiers" asp-action="WireTransfer" class="site-link">Wire transfer</a>
        </li>
        <li>
          <a href="#" class="site-link">View transactions</a>
        </li>
      </ul>
    </section>
    <hr>
  </div>
</div>
