@model MvcBankingApplication.Models.Users.Cashier

@{
  ViewData["Title"] = "cashier home";
}

<div class="bg-dark py-3">
  <div class="container text-white">
    <hr>
    <section class="my-5">
      <h2>Choose one action below</h2>
      <ul>
        <li>
          <a asp-for="Cashiers" asp-action="WithdrawDepositOverdraft" class="site-link">Cash deposit</a>
        </li>
        <li>
          <a asp-for="Cashiers" asp-action="WithdrawDepositOverdraft" class="site-link">Cash withdrawal</a>
        </li>
        <li>
          <a href="#" class="site-link">Wire transfer</a>
        </li>
        <li>
          <a asp-for="Cashiers" asp-action="WithdrawDepositOverdraft" class="site-link">Overdraft</a>
        </li>
        <li>
          <a href="#" class="site-link">View transactions</a>
        </li>
      </ul>
    </section>
    <hr>
  </div>
</div>
