@model MvcBankingApplication.Models.Transactions.TransactionModel

@{
  ViewData["Title"] = "Details";
}

<div class="bg-dark text-white py-5">
  <div class="d-flex justify-content-center">
    <div>
      <h1 class="text-capitalize mb-3">transaction {id}</h1>
      <p class="text-lighter">Transaction id: {trkn43njk}</p>
      <p class="text-lighter">Time: {22nd Apr 2021}</p>
      <p class="text-lighter">From: {account number from}</p>
      <p class="text-lighter">To: {account number to}</p>
      <p class="text-lighter">Amount: $20000</p>
      <p class="text-lighter">Transaction type: <span class="text-green">DR</span></p>
      <p class="text-lighter">Transaction type: <span class="text-red">CR</span></p>
    </div>
  </div>
</div>
