@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="bg-dark">
    <div class="container text-white py-5">
        <h1 class="mt-5 text-red">@ViewData["Title"]</h1>
        <p class="mb-5">
            You do not have access to this resource.
        </p>
    </div>
</div>
